/* .container{
    display: flex;
}
.box1{
    height: 300px;
    width: 300px;
    background-color: #a95454;
}
.box2{
    height: 300px;
    width: 300px;
    background-color: #9d16ae;
}
.box3{
    height: 300px;
    width: 300px;
    background-color: #70ad06;
}
.box4{
    height: 300px;
    width: 300px;
    background-color: #bec0c6;
} */
/* tablet size */
/* @media screen and (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        /* justify-items: center; */
        /* justify-content: center; */
        /* align-items: center; */
    /* }
    .box{
        border-radius:50%;
        height: 400px;
        width: 400px;
    }
    .box1{
        display: none;
    }
}  */
/* assignment-4 */
/* 
    screens:
    large:1440px;
    normal:1024px;
    tablet:768px;
    mobile:425px;

*/
.box{
    display: none;
}
h1{
    font-size: 50px;
}
@media screen and (max-width:1444px) {
    .box1{
        display: block;
        height: 400px;
        width: 800px;
        background-color: aquamarine;
        border-radius:7% ;
    }
}
@media screen and (max-width:1024px) and (min-width:768px){
    .box1{
        display: none;
    }
    .box2{
        display: block;
        height: 350px;
        width: 700px;
        background-color: #af4949;
        border-radius: 5%;
    }
}
@media screen and (max-width:768px) and (min-width:425px){
    .box1 , .box2{
        display: none;
    }
    .box3{
        display: block;
        height: 300px;
        width: 600px;
        background-color: #0f408a;
        border-radius: 5%;
    }
}
@media screen and (max-width:425px) {
    .box1,.box2,.box3{
        display: none;
    }
    .box4{
        display: block;
        height: 200px;
        width: 400px;
        background-color: #c0155c;
        border-radius:5% ;
    }
}